.center {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.index-title {
  background-color: red;
  border: solid black 2px;
  border-radius: 0.5rem;
  color: white;
  padding: 5px;
  overflow-wrap: break-word;
}

.floating-box {
  border: solid black 2px;
  display: flex;
  border-radius: 0.5rem;
  padding-left: 1rem;
  animation-name: float;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.parralax {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 500px;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  border-style: solid;
  border-color: black;
}

/* @keyframes red-to-yellow {
  from {background-color: red;}
  to {background-color: yellow;}
} */

@keyframes float {
  0% { transform: translate(0,  0px); }
  25%  { transform: translate(0, 10px); }
  50%  { transform: translate(0, 20px); }
  75%  { transform: translate(0, 10px); }
  100%   { transform: translate(0, -0px); }   
}


footer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

footer h3,h4,div {
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
}

.heading {
  font-weight: 800;
  font-style: normal;
  text-align: center;
}

.topic-heading {
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  text-align: center;
  text-transform: uppercase;
}

.leading-text {
  text-indent: 0.125rem;
  line-height: 1.25rem; 
  padding-bottom: 0.25rem;
  border-style: dashed;
}

.sub-text {
  text-indent: 0.125rem;
  line-height: 1.25rem; 
  padding-left: 0.25rem;
  border-style: dotted;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

img {
  outline-color: black;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  animation-name: shake;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  width: 500px;
  height: 500px
}

.wip-image {
  filter: brightness(1.1);
}

.grid-title {
  margin-top: 4px;
  padding-top: 0.5rem;
  border-top: solid black 2px;
}

.grid {
  border-top: solid black 2px;
  display: grid;
  grid-column: span 1 / span 1;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  column-gap: 2px;
  row-gap: 2px;
  place-content: center;
  place-items: start;
  place-self: auto;
}

@keyframes shake {
  0% { transform: translate(0px,  0); }
  50%  { transform: translate(50px, 0); }
  100%   { transform: translate(-0px, 0); }   
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav li {
    display: inline-block;
  }
  nav li:hover {
    background-color: rgba(255,255,0,0.5);
    border-radius: 0.5rem;
  }
  nav a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }

  @media screen and (min-width: 799px) {
    header {
        font-size: 2.5rem;
    }
    nav {
        font-size: 2rem;
    }
    main, div, p, h2, h3, h4 {
        font-size: 1.5rem; 
    }
  }

  @media screen and (max-width: 800px) {
    header {
        font-size: 1.5rem;
    }
    nav {
        font-size: 1rem;
    }
    main, div, p, h2, h3, h4 {
        font-size: 1rem;
    }
  }